.tree {
  &__node-name {
    // border: solid;
    text-align: center;
  }

  &__editor {
    div {
      border: none !important;
    }
    width: 50%;
    margin: auto;
  }

  &__children {
    // border: solid;
    display: flex;
    padding: 20px;
    justify-content: center;
  }
}

.path {
  &__word {
    margin-right: 5px;
    &:hover {
      color: blue;
    }
  }
}
